#resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resume {
  width: 90%;
  border: solid 1px black;
  border-radius: 8px;
  box-shadow: 0px 5px 15px gray;
}

/* BADGE */
#personal-badge-container {
  display: flex;
}

#personal-badge {
  height: 292px;
  display: flex;
  padding-left: 5px;
  margin: 20px;
  align-items: center;
  border: solid 1px black;
  border-radius: 200px;
  background-color: rgb(231, 227, 215);

  transition: width 3s;
}

#personal-badge > * {
  margin: 5px;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 271px;
  width: 271px;
  flex-shrink: 0;
  border-radius: 136px;
  background-color: white;
}

#image-container > img {
  height: 250px;
  width: 250px;
  margin: 0;
  border-radius: 150px;
  border: solid 1px black;
}

#personal-badge-expand {
  transition: width 3s;
}

#toggle-personal {
  font-size: 30px;
  background-color: inherit;
  border: none;
  transition: transform 0.3s ease-out;
}

#short-bio {
  border-radius: 146px;
}

/* MAIN */
#resume-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

/* WORK EXPERIENCE */
#work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-content {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
}
